<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g65.homespring.mapper.LightMapper">

    <resultMap id="BaseResultMap" type="com.g65.homespring.bean.Light">
        <id property="deviceid" column="deviceId" jdbcType="INTEGER"/>
        <result property="isClose" column="is_close" jdbcType="INTEGER"/>
        <result property="b" column="B" jdbcType="INTEGER"/>
        <result property="g" column="G" jdbcType="INTEGER"/>
        <result property="r" column="R" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        deviceId
        ,is_close,B,
        G,R,level
    </sql>
</mapper>
