<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.g65.homespring.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.g65.homespring.bean.User">
            <id property="uid" column="uId" jdbcType="INTEGER"/>
            <result property="rid" column="rId" jdbcType="INTEGER"/>
            <result property="utel" column="uTel" jdbcType="VARCHAR"/>
            <result property="uemail" column="uEmail" jdbcType="VARCHAR"/>
            <result property="uage" column="uAge" jdbcType="INTEGER"/>
            <result property="uname" column="uName" jdbcType="VARCHAR"/>
            <result property="upassword" column="uPassword" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uId,rId,uTel,
        uEmail,uAge,uName,
        uPassword
    </sql>
</mapper>
