<!DOCTYPE html>
<html lang="en">

<head>

    <base href="">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Smart home management system</title>
    <!--favicon-->
    <link href="../static/images/favicon-32x32.png" rel="icon" type="image/png"/>
    <!-- Vector CSS -->
    <link href="../static/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
    <!--plugins-->
    <link href="../static/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="../static/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="../static/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <!-- loader-->
    <link href="../static/css/pace.min.css" rel="stylesheet"/>
    <script src="../static/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Icons CSS -->
    <link href="../static/css/icons.css" rel="stylesheet"/>
    <!-- App CSS -->
    <link href="../static/css/app.css" rel="stylesheet"/>


</head>

<body class="bg-theme bg-theme1">
<!-- wrapper -->
<div class="wrapper">
    <!--sidebar-wrapper-->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="">
                <img alt="" class="logo-icon-2" src="../static/images/logo-icon.png"/>
            </div>
            <div>
                <h4 class="logo-text">Smart Home</h4>
            </div>
            <a class="toggle-btn ml-auto" href="javascript:"> <i class="bx bx-menu"></i>
            </a>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a href="index.html">
                    <div class="parent-icon"><i class="bx bx-home-alt"></i>
                    </div>
                    <div class="menu-title"><%
                        <!--                        UserEntity user = (UserEntity) session.getAttribute(Constants.USER_SESSION);-->
                        <!--                        String username = user.getuName();-->
                        <!--                        %><%= username %>'s home-->
                    </div>
                </a>
            </li>
            <li class="menu-label">Device</li>
            <li>
                <a href="environmental.html">
                    <div class="parent-icon"><i class="bx bx-planet"></i>
                    </div>
                    <div class="menu-title">Environmental monitoring</div>
                </a>
            </li>
            <li>
                <a href="content-grid-system.html">
                    <div class="parent-icon"><i class="bx bx-bulb"></i>
                    </div>
                    <div class="menu-title">Light</div>
                </a>
            </li>
            <li>
                <a href="charts-apex-chart.html">
                    <div class="parent-icon"><i class="bx bx-door-open"></i>
                    </div>
                    <div class="menu-title">Door</div>
                </a>
            </li>
            <li>
                <a href="charts-chartjs.html">
                    <div class="parent-icon"><i class="bx bx-send"></i>
                    </div>
                    <div class="menu-title">Sensor</div>
                </a>
            </li>
            <li class="menu-label">Log</li>
            <li>
                <a href="table-basic-table.html">
                    <div class="parent-icon"><i class="bx bx-time-five"></i>
                    </div>
                    <div class="menu-title">State</div>
                </a>
            </li>
            <li>
                <a href="to-do.html">
                    <div class="parent-icon"><i class="bx bx-task"></i>
                    </div>
                    <div class="menu-title">To do List</div>
                </a>
            </li>
            <li>
                <a href="fullcalender.html">
                    <div class="parent-icon"><i class="bx bx-calendar-check"></i>
                    </div>
                    <div class="menu-title">Calendar</div>
                </a>
            </li>
            <li class="menu-label">User</li>
            <li>
                <a href="user-profile.html">
                    <div class="parent-icon"><i class="bx bx-user-circle"></i>
                    </div>
                    <div class="menu-title">User Profile</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar-wrapper-->
    <!--header-->
    <header class="top-header">
        <nav class="navbar navbar-expand">
            <div class="left-topbar d-flex align-items-center">
                <a class="toggle-btn" href="javascript:"> <i class="bx bx-menu"></i>
                </a>
            </div>
            <div class="flex-grow-1 search-bar">
            </div>
            <div class="right-topbar ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item search-btn-mobile">
                        <a class="nav-link position-relative" href="javascript:"> <i
                                class="bx bx-search vertical-align-middle"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown-user-profile">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown"
                           href="javascript:">
                            <div class="media user-box align-items-center">
                                <div class="media-body user-info">
                                    <p class="user-name mb-0"><%= username %></p>
                                </div>
                                <img alt="user avatar" class="user-img" src="../static/images/avatars/avatar-1.png">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                                                          href="user-profile.html"><i
                                class="bx bx-user"></i><span>Profile</span></a>
                            <form action="./logout" method="post">
                                <div class="dropdown-divider mb-0"></div>
                                <button class="dropdown-item" type="submit"><i
                                        class="bx bx-power-off"></i>Logout
                                </button>
                            </form>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--end header-->
    <!--page-wrapper-->
    <div class="page-wrapper">
        <!--page-content-wrapper-->
        <div class="page-content-wrapper">
            <div class="page-content">
                <!--breadcrumb-->
                <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
                    <div class="breadcrumb-title pr-3">Content</div>
                    <div class="pl-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item"><a href=index.html><i class='bx bx-home-alt'></i></a>
                                </li>
                                <li aria-current="page" class="breadcrumb-item active">Light Control System</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!--end breadcrumb-->
                <div class="card radius-15">
                    <div class="custom-control custom-switch">
                        <input class="custom-control-input" id="customSwitch1" type="checkbox">
                        <label class="custom-control-label" for="customSwitch1">on-off</label>
                    </div>
                    <div class="form-group">
                        <input class="form-control-range" id="formControlRange" type="range">
                    </div>
                </div>
                <div class="card radius-15">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="mb-0">Light State</h4>
                        </div>
                        <hr/>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">light ID</th>
                                    <th scope="col">is_close</th>
                                    <th scope="col">level</th>
                                </tr>
                                </thead>
                                <!--                                <%&#45;&#45;                                <tbody>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    <%&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    UserEntity user = (UserEntity) session.getAttribute("user");&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    int userId = user.getuId();&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    session.setAttribute("user", user);&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    LightService lightService = new LightServiceImpl();&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    ArrayList<LightEntity> list = doorService.getExistLight(userId);&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    System.out.println(user);&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    System.out.println(list.size());&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    System.out.println(user);&#45;&#45;%>-->

                                <!--                                <%&#45;&#45;                                    int i = 1;&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    for(LightEntity light : list){&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    %>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                <tr>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    <th scope="row"> <%= i %> </th>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    <td> <%= light.getLightId() %> </td>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    <td> <%= light.getLightColse() %> </td>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    <td> <%= light.getLightLevel() %> </td>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                </tr>&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    <%&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                            i++;&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                    }&#45;&#45;%>-->
                                <!--                                <%&#45;&#45;                                %>&#45;&#45;%>-->
                                <!--                                <tbody>-->
                                <tr>
                                    <th scope="row">1</th>
                                    <td><%= 123 %></td>
                                    <td><%= 1 %></td>
                                    <td><%= 50 %></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td><%= 456 %></td>
                                    <td><%= 0 %></td>
                                    <td><%= 60 %></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td><%= 789 %></td>
                                    <td><%= 1 %></td>
                                    <td><%= 70 %></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end page-content-wrapper-->
    </div>
    <!--end page-wrapper-->
    <!--start overlay-->
    <div class="overlay toggle-btn-mobile"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> <a class="back-to-top" href="javaScript:;"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
</div>
<!-- end wrapper -->
<!--start switcher-->
<div class="switcher-wrapper">
    <div class="switcher-btn"><i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <h5 class="mb-0 text-uppercase">Theme Customizer</h5>
        <hr/>
        <p class="mb-0">Gaussion Texture</p>
        <hr>

        <ul class="switcher">
            <li id="theme1"></li>
            <li id="theme2"></li>
            <li id="theme3"></li>
            <li id="theme4"></li>
            <li id="theme5"></li>
            <li id="theme6"></li>
        </ul>
        <hr>
        <p class="mb-0">Gradient Background</p>
        <hr>
    </div>
</div>
<!--end switcher-->
<!-- JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<!--plugins-->
<script src="../static/plugins/simplebar/js/simplebar.min.js"></script>
<script src="../static/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="../static/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<!-- App JS -->
<script src="../static/js/app.js"></script>
</body>

</html>
