<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title>Smart home management system</title>
    <script src="../js/jquery-3.6.0.js" type="text/javascript"></script>
    <!--favicon-->
    <link href="../images/favicon-32x32.png" rel="icon" type="image/png"/>
    <!-- loader-->
    <link href="../css/pace.min.css" rel="stylesheet"/>
    <script src="../js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Icons CSS -->
    <link href="../css/icons.css" rel="stylesheet"/>
    <!-- App CSS -->
    <link href="../css/app.css" rel="stylesheet"/>
</head>

<body class="bg-theme bg-theme1">
<!-- wrapper -->
<div class="wrapper">
    <div class="authentication-forgot d-flex align-items-center justify-content-center">
        <div class="card shadow-lg forgot-box">
            <div class="card-body p-md-5">
                <div class="text-center">
                    <img alt="" src="../images/icons/forgot-2.png" width="80"/>
                </div>
                <h4 class="mt-3 font-weight-bold text-white">Forgot Password?</h4>
                <form action="./resetPassword" method="post">
                    <input name="method" type="hidden" value="forgetPassword">
                    <div class="form-group mt-5">
                        <label>User ID</label>
                        <input class="form-control form-control-lg radius-30" id="user_id" name="user_id" type="text"/>
                        <label>User Name</label>
                        <input class="form-control form-control-lg radius-30" id="user_name" name="user_name"
                               type="text"/>
                        <label>User Tel</label>
                        <input class="form-control form-control-lg radius-30" id="user_TEL" name="user_TEL"
                               type="text"/>
                        <label>New Password</label>
                        <input class="form-control form-control-lg radius-30" id="user_nPassword" name="user_nPassword"
                               type="text"/>
                    </div>
                    <span class="text-center mt-4 font-weight-bold " id="valid"
                          style=" font-size: 15px;color: #f55959"></span>
                    <button class="btn btn-light btn-lg btn-block radius-30" id="sendBtn" type="submit" value="submit">
                        Send
                    </button>
                    <a class="btn btn-link btn-block" href="login.html"><i class='bx bx-arrow-back mr-1'></i>Back to
                        Login</a>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- end wrapper -->
</body>
<script src="../js/jquery-3.6.0.js" type="text/javascript"></script>
<script src="../js/forgetpassword.js" type="text/javascript"></script>

